{% extends 'base.html.twig' %}

{% block body %}
    <nav class="navbar navbar-expand-lg navbar-light bg-success">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link">Loyalty: {{ totalLoyalty }}</a>
                </li>
                <li class="nav-item dropdown active">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        $ <span id="money">{{ totalMoney }}</span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <span class="dropdown-item"><a class="text-danger" href="#" onclick="sendMoneyToBank()">Withdraw funds to a bank account</a></span>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item text-danger" href="{{ path("moneytoloyalty") }}">Withdraw funds to a Loyalty account</a>
                    </div>
                </li>
                <li class="nav-item dropdown active">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Bonus: <span id="bonus">{{ totalBonus }}</span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item text-danger" href="{{ path("bonustoloyalty") }}">Transfer bonuses to the loyalty account</a>
                    </div>
                </li>
                <li class="nav-item dropdown active">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Prizes
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <span class="dropdown-item">Your prizes:</span>
                        <span class="dropdown-item" href="#"><span id="prize">{{ totalPrize }}</span></span>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item text-danger" href="{{ path("dontneedprize") }}">I don't need a prizes!</a>
                    </div>
                </li>
            </ul>
            <spam class="form-inline my-2 my-lg-0">
                <spam class="form-control mr-sm-2">{{ app.user.username }}</spam>
            </spam>
        </div>
    </nav>
    <div style="text-align: center">
        <h1>FORTUNE GAME</h1>
        <div class="modal fade" id="myModal">
            <div class="modal-dialog">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title font-weight-bolder">You win!</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        <div id="result"></div>
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>

                </div>
            </div>
        </div>

    </div>

    <footer class="footer">
        <div class="container">
            <button onclick="spin()" class="btn btn-danger float-right" style="border:4px solid lightgray; width:150px;height:50px"><b>Spin</b></button>
        </div>
    </footer>
    <!-- Footer -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script>
        var totalMoney = {{ totalMoney }};
        var totalBonus = {{ totalBonus }};
        var totalPrizes = "{{ totalPrize }}";
        var prizes = [];
            {% for item in prizes %}
                prizes.push("{{ item.prize }}");
            {% endfor %}

        function spin()
        {
            var resBlock = document.getElementById("result");
            resBlock.innerHTML = "";
            var res = Math.floor(Math.random() * (10 - 1 + 1)) + 1;
            switch (res) {
                case 2:
                    if(totalMoney < 3000) {
                        var winMoney = Math.floor(Math.random() * (500 - 1 + 1)) + 1;
                        $("#myModal").modal()
                        resBlock.innerHTML = "Congratulations, you win a $" + winMoney + "!!!";
                        totalMoney = totalMoney + winMoney;
                        document.getElementById("money").innerHTML = totalMoney;
                        $.ajax({
                            url: '{{ (path('app_bundle_route')) }}',
                            type: "POST",
                            data: {userId: "{{ app.user.id }}", category: "money", item: "" + winMoney + ""},
                            async: true,
                            success: function (data) {
                                console.log(data);
                            }
                        });
                    }
                    break;
                case 5:
                    var winBonus = Math.floor(Math.random() * (10000 - 100 + 1)) + 100;
                    $("#myModal").modal()
                    resBlock.innerHTML = "Congratulations, you win a " + winBonus + " bonus points!!!";
                    totalBonus = totalBonus + winBonus;
                    document.getElementById("bonus").innerHTML = totalBonus;
                    $.ajax({
                        url:'{{ (path('app_bundle_route')) }}',
                        type: "POST",
                        data: { userId: "{{ app.user.id }}", category: "bonus", item: ""+winBonus+"" },
                        async: true,
                        success: function (data)
                        {
                            console.log(data);
                        }
                    });
                    break;
                case 8:
                    if(totalPrizes.trim().split(/\s+/).length < 5) {
                        var winPrize = "";
                        winPrize = prizes[Math.floor(Math.random() * (2 - 0 + 1)) + 0];
                        $("#myModal").modal()
                        resBlock.innerHTML = "Congratulations, you win a prize: " + winPrize + "!!!";
                        if (totalPrizes.length == 0) {
                            totalPrizes = totalPrizes + winPrize;
                        } else {
                            totalPrizes = totalPrizes + " " + winPrize;
                        }
                        document.getElementById("prize").innerHTML = totalPrizes;
                        $.ajax({
                            url: '{{ (path('app_bundle_route')) }}',
                            type: "POST",
                            data: {userId: "{{ app.user.id }}", category: "prize", item: "" + winPrize + ""},
                            async: true,
                            success: function (data) {
                                console.log(data);
                            }
                        });
                    }
                    break;
            }

        }


        function sendMoneyToBank()
        {
            var alConfirm = confirm("Withdraw funds to your bank account?");

            if(alConfirm){
                window.location.replace("{{ path("moneytobank") }}");
            }

        }
    </script>
{% endblock %}