{% extends 'base.html.twig' %}

{% block body %}
    <div style="text-align: center">
        <h1>Welcome to the FORTUNE GAME {{ app.user.username }}</h1>
        <h2>Lets START</h2>
        <h3>Your have {{ totalLoyalty }} loyalty poins</h3>
        <button onclick="spin()" style="padding: 20px; background: red; color:white"><b>Spin</b></button><br><br>
        <div id="result"></div>
    </div>
    <div>
        <p>Your winnings</p>
        <p>Money: $<span id="money">{{ totalMoney }}</span>  ||  <button onclick="sendMoneyToBank()">Withdraw funds to a bank account</button> ||  <a href="{{ path("moneytoloyalty") }}"><button>Withdraw funds to a Loyalty account</button></a></p>
        <p>Bonus: <span id="bonus">{{ totalBonus }}</span> points  || <a href="{{ path("bonustoloyalty") }}"><button>Transfer bonuses to the loyalty account</button></a></p>
        <p>Prizes: <span id="prize">{{ totalPrize }}</span>  || <a href="{{ path("dontneedprize") }}"><button>I don't need a prizes!</button></a></p>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script>
        var totalMoney = {{ totalMoney }};
        var totalBonus = {{ totalBonus }};
        var totalPrizes = "{{ totalPrize }}";
        var prizes = ["{{ prizes[0] }}", "{{ prizes[1] }}", "{{ prizes[2] }}"];

        function spin()
        {
            var resBlock = document.getElementById("result");
            resBlock.innerHTML = "";
            var res = Math.floor(Math.random() * (10 - 1 + 1)) + 1;
            switch (res) {
                case 2:
                    if(totalMoney < 3000) {
                        var winMoney = Math.floor(Math.random() * (500 - 1 + 1)) + 1;
                        resBlock.innerHTML = "Congratulations, you win a $" + winMoney + "!!!";
                        totalMoney = totalMoney + winMoney;
                        document.getElementById("money").innerHTML = totalMoney;
                        $.ajax({
                            url: '{{ (path('app_bundle_route')) }}',
                            type: "POST",
                            data: {userId: "{{ app.user.id }}", category: "money", item: "" + winMoney + ""},
                            async: true,
                            success: function (data) {
                                console.log(data);
                            }
                        });
                    }
                    break;
                case 5:
                    var winBonus = Math.floor(Math.random() * (10000 - 100 + 1)) + 100;
                    resBlock.innerHTML = "Congratulations, you win a " + winBonus + " bonus points!!!";
                    totalBonus = totalBonus + winBonus;
                    document.getElementById("bonus").innerHTML = totalBonus;
                    $.ajax({
                        url:'{{ (path('app_bundle_route')) }}',
                        type: "POST",
                        data: { userId: "{{ app.user.id }}", category: "bonus", item: ""+winBonus+"" },
                        async: true,
                        success: function (data)
                        {
                            console.log(data);
                        }
                    });
                    break;
                case 8:
                    if(totalPrizes.trim().split(/\s+/).length < 5) {
                        var winPrize = "";
                        winPrize = prizes[Math.floor(Math.random() * (2 - 0 + 1)) + 0];
                        resBlock.innerHTML = "Congratulations, you win a prize: " + winPrize + "!!!";
                        if (totalPrizes.length == 0) {
                            totalPrizes = totalPrizes + winPrize;
                        } else {
                            totalPrizes = totalPrizes + " " + winPrize;
                        }
                        document.getElementById("prize").innerHTML = totalPrizes;
                        $.ajax({
                            url: '{{ (path('app_bundle_route')) }}',
                            type: "POST",
                            data: {userId: "{{ app.user.id }}", category: "prize", item: "" + winPrize + ""},
                            async: true,
                            success: function (data) {
                                console.log(data);
                            }
                        });
                    }
                    break;
            }

        }


        function sendMoneyToBank()
        {
            var alConfirm = confirm("Withdraw funds to your bank account?");

            if(alConfirm){
                window.location.replace("{{ path("moneytobank") }}");
            }

        }
    </script>
{% endblock %}